main.main
    .container
        .row

            .col-lg-3.order-3.order-lg-1
                .card.mb-4
                    img.card-img-top(src="images/i/author.jpg" alt="Card image cap")
                    .card-body
                        h4.card-title About me
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.
                        p.card-text Some quick example text to build on the card title and make up the bulk of the card's content.

                h3 Subscribe
                .block
                    form(method="post" action="/")
                        .form-group
                            input(type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email")
                            small(id="emailHelp").form-text.text-muted We'll never share your email with anyone else.
                        button(type="submit").btn.btn-success.btn-block Subscribe
            .col-lg-6.col-md-8.order-1.order-lg-2
                .card.mb-4
                    img.card-img-top(src="images/i/photo-1.jpg" alt="Card image cap")
                    .card-body
                        h4.card-title Post title
                        p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quidem deserunt laboriosam ipsum, sapiente, saepe ratione quisquam quam aliquam animi et. Soluta atque repudiandae maiores sed, itaque eos assumenda dolor!
                        p.card-text
                            small.text-muted Last updated 3 mins ago
                        a(href="#").btn.btn-outline-primary.btn-sm Read more
                .card.mb-4
                    img.card-img-top(src="images/i/photo-2.jpg" alt="Card image cap")
                    .card-body
                        h4.card-title Post title
                        p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quidem deserunt laboriosam ipsum, sapiente, saepe ratione quisquam quam aliquam animi et. Soluta atque repudiandae maiores sed, itaque eos assumenda dolor!
                        p.card-text
                            small.text-muted Last updated 3 mins ago
                        a(href="#").btn.btn-outline-primary.btn-sm Read more

                .card.mb-4
                    img.card-img-top(src="images/i/photo-3.jpg" alt="Card image cap")
                    .card-body
                        h4.card-title Post title
                        p.card-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quidem deserunt laboriosam ipsum, sapiente, saepe ratione quisquam quam aliquam animi et. Soluta atque repudiandae maiores sed, itaque eos assumenda dolor
                        p.card-text
                            small.text-muted Last updated 3 mins ago
                        a(href="#").btn.btn-outline-primary.btn-sm Read more
                nav.aria-label Page navigation example
                    ul.pagination
                        li.page-item
                            a.page-link(href="#") Previous
                        li.page-item.active
                            a.page-link(href="#") 1
                        li.page-item
                            a.page-link(href="#") 2
                        li.page-item
                            a.page-link(href="#") 3
                        li.page-item
                            a.page-link(href="#") Next
            .col-lg-3.col-md-4.order-2.order-lg-3
                .list-group.mb-4
                    a(href="#").list-group-item.active Section 
                    a(href="#").list-group-item.list-group-item-action Section 2
                    a(href="#").list-group-item.list-group-item-action Section 3
                    a(href="#").list-group-item.list-group-item-action Section 4
                    a(href="#").list-group-item.list-group-item-action Section 5

                h3 Tags Cloud
                .block
                    a.badge.badge-info(href="#") travel
                    a.badge.badge-info(href="#") rest
                    a.badge.badge-info(href="#") mountain
                    a.badge.badge-info(href="#") world
                    a.badge.badge-info(href="#") nature
                    a.badge.badge-info(href="#") photos

                h3 Gallery
                .block
                    .row.no-gutters
                        .col-6
                            img.img-fluid(src="images/i/gallery-1.jpg" alt="")
                        .col-6
                            img.img-fluid(src="images/i/gallery-2.jpg" alt="")
                        .col-6
                            img.img-fluid(src="images/i/gallery-3.jpg" alt="")
                        .col-6
                            img.img-fluid(src="images/i/gallery-4.jpg" alt="")
                        .col-6
                            img.img-fluid(src="images/i/gallery-5.jpg" alt="")
                        .col-6
                            img.img-fluid(src="images/i/gallery-6.jpg" alt="")
    