nav.navbar.navbar-expand-md.navbar-dark.bg-dark
    .container
        a.navbar-brand(href="#")
            img(src="images/i/logo.png")
        button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
            span.navbar-toggler-icon
        .collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href="#") Home 
                        span.sr-only (current)
                li.nav-item
                    a.nav-link(href="#") About
                li.nav-item
                    a.nav-link(href="#") Contacts
            form.form-inline.my-2.my-lg-0
                input.form-control.mr-sm-2(type="text" placeholder="Search" aria-label="Search")
                button.btn.btn-outline-warning.my-2.my-sm-0(type="submit") Search
header.header.d-flex.flex-column.justify-content-center.align-items-center
    .container
        h1.display-2 Best website on Bootstrap 4
        p.lead Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus.